.body1 {
  background-color: #add8e6;
  margin-top: 70px;
}

.container {
  text-align: center;
}

#space {
  padding-left: 50px;
  padding-right: 50px;
}
​
button {
  margin-top: 3%;
  padding: 15px;
  font-family: sans-serif;

}

.form-control{
  width: 50%;
}
​
#output {
  display: none;
}
​
#snakeIsland, #alnwickPoisonGardens, #yungasRoad, #home {
  display: none;
}
#results{
  display: none;
}

.hello{
  display: none;
}
