
.body1 {
  background-color: #add8e6;
  margin-top: 30px;
}

.title{
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  padding: 20px;
  text-shadow: 2px 2px #000000;

}

.jumbotron{
  margin-top:40px;
}


.container {
  text-align: center;
}

.container2 {
  text-align: left;
  padding-left: 70px;
}

button {
  margin-top: 3%;
  padding: 15px;
}


.greeting {
  display: none;
}

.container3 {
  padding-left: 50px;
  color: #6f6e6e;
}

.form-control {
  max-width: 95%;
  margin-bottom:10px;
}

#snakeIsland, #yungasRoad, #alnwickPoisonGardens, #home {
  display: none;
}

.results {
  padding-top: 50px;
  margin: auto;
  width: 75%;
  padding: 10px;
  text-align: center;
}

.results img {
  width: 750px;
  height: 500px;
  border-radius: 3%;
  margin: auto;
}
